<!DOCTYPE html>
<html class="no-js" lang="zxx"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/adminLayout}">

<head>
    <title>Gimnasio Sport - Sucursales</title>
</head>

<body>

<th:block layout:fragment="content">
    <section class="my-5">
        <div class="container">

            <div th:if="${msgError}" th:text="#{${msgError}}" class="alert alert-danger" role="alert">MENSAJE ERROR</div>

            <div class="d-flex align-items-center mb-3 flex-wrap">
                <h3 class="m-0 mr-3">Sucursales</h3>
                <a th:href="@{/sucursales/alta}" class="genric-btn primary radius">Agregar sucursal</a>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-bordered align-middle">
                    <thead class="table-light">
                    <tr>
                        <th>Nombre</th>
                        <th>País</th>
                        <th>Provincia</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="sucursal : ${sucursales}">
                        <td th:text="${sucursal.nombre}">Nombre</td>
                        <td th:text="${sucursal.nombrePais}">País</td>
                        <td th:text="${sucursal.nombreProvincia}">Provincia</td>
                        <td>
                            <a th:href="@{/sucursales/{id}(id=${sucursal.id})}" class="btn btn-primary btn-sm me-1" title="View">
                                <i class="bi bi-eye"></i>
                            </a>
                            <a th:href="@{/sucursales/{id}/edit(id=${sucursal.id})}" class="btn btn-warning btn-sm me-1" title="Edit">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <form th:action="@{/sucursales/{id}/baja(id=${sucursal.id})}" method="post" style="display:inline"
                                  th:onsubmit="'return confirm(\'Está seguro de qué desea borrar este elemento?\')'">
                                <button type="submit" class="btn btn-danger btn-sm">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</th:block>

</body>
</html>