<header xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
        th:fragment="header(isSolidHeader)">
    <div class="header-area " th:style="${isSolidHeader} ? 'display: block; position: static; background-color: black;' : ''">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid ">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a th:href="@{/}">
                                    <img th:src="@{/img/logo.png}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">


                                        <li sec:authorize="isAuthenticated()" class="d-lg-none">
                                            <a href="#" onclick="return false;" style="font-weight: bold; padding-bottom: 0"
                                               th:text="${currentUserFullName != null ? currentUserFullName.toUpperCase() : 'NOMBRE COMPLETO'}"></a>
                                        </li>
                                        <li sec:authorize="isAuthenticated()" class="d-lg-none">
                                            <a href="#" onclick="return false;"
                                               style="font-size: 10px; padding-top: 0; font-style: italic; border-bottom: 1px solid black;"
                                               th:text="${currentUserRole != null ? currentUserRole : 'ROL'}"></a>
                                        </li>

                                        <li sec:authorize="isAnonymous()" class="d-lg-none">
                                            <a th:href="@{/login}"
                                               style="font-weight: bold; font-size: 16px; padding: 10px; border-bottom: 1px solid black;">LOG IN</a>
                                        </li>

                                        <!--OPCIONES PÚBLICAS-->
                                        <li><a th:href="@{/}">INICIO</a></li>
                                        <li sec:authorize="!hasRole('ADMINISTRATIVO')"><a th:href="@{/about}">ACERCA DE</a></li>
                                        <li sec:authorize="!hasRole('ADMINISTRATIVO')"><a th:href="@{/pricing}">PRECIOS</a></li>


                                        <!--OPCIONES SOCIO-->
                                        <li sec:authorize="hasRole('SOCIO')"><a th:href="@{/rutinas}">MIS RUTINAS</a></li>
                                        <li sec:authorize="hasRole('SOCIO')"><a href="#">PAGOS<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a th:href="@{/me/cuotas}">CUOTAS</a></li>
                                                <li><a th:href="@{/me/facturas}">PAGOS REALIZADOS</a></li>
                                            </ul>
                                        </li>


                                        <!--OPCIONES ADMIN-->
                                        <li sec:authorize="hasRole('ADMINISTRATIVO')"><a th:href="@{/sucursales}">SUCURSALES</a></li>
                                        <li sec:authorize="hasRole('ADMINISTRATIVO')"><a href="#">USUARIOS<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a th:href="@{/socios}">SOCIOS</a></li>
                                                <li><a th:href="@{/empleados}">EMPLEADOS</a></li>
                                            </ul>
                                        </li>

                                        <li sec:authorize="hasRole('ADMINISTRATIVO')"><a href="#">PAGOS<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a th:href="@{/valoresCuota}">MANEJO CUOTA</a></li>
                                                <li><a th:href="@{/facturas}">PAGOS RECIBIDOS</a></li>
                                            </ul>
                                        </li>

                                        <li sec:authorize="hasRole('ADMINISTRATIVO')"><a th:href="@{/mensajes}">MENSAJES</a></li>

                                        <li sec:authorize="hasRole('ADMINISTRATIVO')"><a href="#">PÁGINAS<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a th:href="@{/about}">ACERCA DE</a></li>
                                                <li><a th:href="@{/pricing}">PRECIOS</a></li>
                                                <li><a th:href="@{/contact}">CONTACTO</a></li>
                                            </ul>
                                        </li>


                                        <!--OPCIONES PROFESOR-->
                                        <li sec:authorize="hasRole('PROFESOR')"><a th:href="@{/rutinas}">RUTINAS</a></li>
                                        <li sec:authorize="hasRole('PROFESOR')"><a th:href="@{/socios}">SOCIOS</a></li>


                                        <!--OPCIONES PÚBLICAS-->
                                        <li sec:authorize="!hasRole('ADMINISTRATIVO')"><a th:href="@{/contact}">CONTACTO</a></li>

                                        <li sec:authorize="isAuthenticated()" class="d-lg-none">
                                            <a th:href="@{/logout}" style="border-top: 1px solid black;">LOG OUT</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-2 d-none d-lg-block">
                            <div class="Appointment text-end">
                                <!-- Login button for anonymous users -->
                                <a th:href="@{/login}" sec:authorize="isAnonymous()" class="btn btn-outline-light"
                                   style="font-weight: bold">LOG IN</a>

                                <!-- User info dropdown for authenticated users -->
                                <div sec:authorize="isAuthenticated()" class="dropdown d-inline-block">
                                    <button class="btn btn-outline-light dropdown-toggle d-flex justify-content-between align-items-center"
                                            type="button" id="userDropdown"
                                            data-toggle="dropdown" data-bs-toggle="dropdown" aria-expanded="false"
                                            style="font-size: 16px; padding: .2rem 1.5rem; padding-bottom: .3rem">

                                        <div class="d-flex flex-column text-left mr-2">
                                            <div th:text="${currentUserFullName != null ? currentUserFullName.toUpperCase() : 'NOMBRE COMPLETO'}"
                                                 style="margin: 0;"></div>
                                            <div th:text="${currentUserRole != null ? currentUserRole : 'ROL'}"
                                                 style="font-style: italic; margin: 0; font-size: 10px; font-weight: normal; font-family: 'Montserrat', sans-serif;">ROL</div>
                                        </div>
                                    </button>

                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                        <li><a th:href="@{/logout}" class="dropdown-item" style="font-size: 14px">LOG OUT</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>