<section th:fragment="form(title, actionUrl, readOnly, loginForm)" class="container my-5">

    <div th:if="${msgError}" th:text="#{${msgError}}" class="alert alert-danger" role="alert">MENSAJE ERROR</div>

    <h3 th:text="${title}" class="text-heading">TÍTULO</h3>
    <form th:action="@{${actionUrl}}" th:object="${loginForm}" method="post">

        <div class="form-group">
            <div th:if="${param.error}">
                Usuario o Contraseña incorrectos
            </div>
            <label for="nombreUsuario">Usuario *</label>
            <input type="email" th:field="*{nombreUsuario}" class="form-control" id="nombreUsuario" placeholder="Usuario">
            <div th:if="${#fields.hasErrors('nombreUsuario')}" class="text-danger mt-1"
                 th:each="err : ${#fields.errors('nombreUsuario')}" th:text="${err}"></div>
        </div>

        <div class="form-group">
            <label for="clave">Contraseña *</label>
            <input type="password" th:field="*{clave}" class="form-control" id="clave" placeholder="Contraseña">
            <div th:if="${#fields.hasErrors('clave')}" class="text-danger mt-1"
                 th:each="err : ${#fields.errors('clave')}" th:text="${err}"></div>
        </div>

        <a th:href="@{/oauth2/authorization/google}">Sign in with Google</a>

        <div class="d-flex justify-content-end mt-3">
            <a th:if="${!readOnly}" th:href="@{/}" class="genric-btn primary-border radius mr-3">Cancelar</a>
            <button th:if="${!readOnly}" type="submit" class="genric-btn primary radius">Ingresar</button>

            <a th:if="${readOnly}" th:href="@{/'/'}" class="genric-btn primary radius">Aceptar</a>
        </div>
    </form>

</section>
