spring:
  application:
    name: SecurityPractice
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/libros
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  security:
    oauth2:
      client:
        registration:
          auth0:
            client-id: ${AUTH0_CLIENT_ID}
            client-secret: ${AUTH0_CLIENT_SECRET}
            scope: openid,profile,email
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          auth0:
            issuer-uri: https://${AUTH0_DOMAIN}/
      resourceserver:
        jwt:
          issuer-uri: https://${AUTH0_DOMAIN}/
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

server:
  port: 9090

app:
  security:
    audience: ${AUTH0_API_AUDIENCE}
    issuer: https://${AUTH0_DOMAIN}/
    domain: ${AUTH0_DOMAIN}

examples:
  auth0:
    domain: YOUR_AUTH0_DOMAIN
    audience: YOUR_AUTH0_API_AUDIENCE
